In [1]:
import pandas as pd
file1 = "raw_data.csv"
file2 = "sequences_1h_data.csv"
data1 = pd.read_csv(file1)
data2 = pd.read_csv(file2)

In [4]:
display(data1['interval_start'])

0         2020-01-01 11:21:28.907000+00:00
1         2020-01-01 11:22:31.957000+00:00
2         2020-01-01 11:23:02.797000+00:00
3         2020-01-01 11:46:33.468000+00:00
4         2020-01-01 12:11:57.988000+00:00
                        ...
429389    2022-01-01 17:51:07.410000+00:00
429390    2022-01-01 17:51:15.327000+00:00
429391    2022-01-01 17:52:06.700000+00:00
429392    2022-01-01 18:40:29.100000+00:00
429393    2022-01-01 21:12:33.998000+00:00
Name: interval_start, Length: 429394, dtype: object

In [3]:
display(data2)

,interval_start,equipment_ID,count_sum,A_028,A_029,A_024,A_045,A_001,A_058,A_064,...,A_069,A_072,A_047,A_059,A_046,A_063,A_053,A_054,A_060,A_061
0,2020-01-01 14:00:00,s_1,4,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01 15:00:00,s_1,2,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01 17:00:00,s_1,1,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01 18:00:00,s_1,4,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01 19:00:00,s_1,1,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23371,2022-01-01 06:00:00,s_5,1,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23372,2022-01-01 08:00:00,s_5,1,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23373,2022-01-01 10:00:00,s_5,2,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23374,2022-01-01 11:00:00,s_5,1,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23375,2022-01-01 12:00:00,s_5,1,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
display(data1,data2)

,interval_start,equipment_ID,alarm,type,start,end,elapsed,pi,po,speed
0,2020-01-01 11:21:28.907000+00:00,s_1,A_000,scheduled_downtime,1.577878e+09,1.577878e+09,63050,59916598,59517799,0
1,2020-01-01 11:22:31.957000+00:00,s_1,A_000,idle,1.577878e+09,1.577878e+09,30840,59916598,59517799,0
2,2020-01-01 11:23:02.797000+00:00,s_1,A_000,scheduled_downtime,1.577878e+09,1.577879e+09,1410671,59916598,59517799,0
3,2020-01-01 11:46:33.468000+00:00,s_1,A_000,idle,1.577879e+09,1.577881e+09,1524520,59916598,59517799,0
4,2020-01-01 12:11:57.988000+00:00,s_1,A_000,scheduled_downtime,1.577881e+09,1.577884e+09,2831270,59916598,59517799,0
...,...,...,...,...,...,...,...,...,...,...
429389,2022-01-01 17:51:07.410000+00:00,s_5,A_000,production,1.641059e+09,1.641059e+09,7917,13156228,63760964,5850
429390,2022-01-01 17:51:15.327000+00:00,s_5,A_000,performance_loss,1.641059e+09,1.641060e+09,51373,13156240,63760976,5850
429391,2022-01-01 17:52:06.700000+00:00,s_5,A_000,idle,1.641060e+09,1.641062e+09,2902400,13156240,63760976,5850
429392,2022-01-01 18:40:29.100000+00:00,s_5,A_000,scheduled_downtime,1.641062e+09,1.641072e+09,9124898,13156240,63760976,5850
429393,2022-01-01 21:12:33.998000+00:00,s_5,A_000,idle,1.641072e+09,1.641083e+09,11399501,13156240,63760976,5850

,interval_start,equipment_ID,count_sum,A_028,A_029,A_024,A_045,A_001,A_058,A_064,...,A_069,A_072,A_047,A_059,A_046,A_063,A_053,A_054,A_060,A_061
0,2020-01-01 14:00:00,s_1,4,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01 15:00:00,s_1,2,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01 17:00:00,s_1,1,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01 18:00:00,s_1,4,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01 19:00:00,s_1,1,0.0,0,0,NaN,0.0,NaN,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23371,2022-01-01 06:00:00,s_5,1,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23372,2022-01-01 08:00:00,s_5,1,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23373,2022-01-01 10:00:00,s_5,2,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23374,2022-01-01 11:00:00,s_5,1,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23375,2022-01-01 12:00:00,s_5,1,NaN,0,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
aa = data2["A_028"].sum()
print(aa)

252.0

In [17]:
abc = ((data2.isna().sum()/data2.shape[0])*100).to_csv("abc.csv")

In [9]:
data2.shape

(23376, 164)

In [26]:
alarms = data1["alarm"].unique()
display(alarms)
print(len(alarms))

array(['A_000', 'A_065', 'A_027', 'A_010', 'A_005', 'A_023', 'A_064',
       'A_001', 'A_017', 'A_025', 'A_009', 'A_066', 'A_020', 'A_013',
       'A_016', 'A_002', 'A_003', 'A_067', 'A_068', 'A_069', 'A_004',
       'A_028', 'A_070', 'A_035', 'A_071', 'A_021', 'A_072', 'A_073',
       'A_074', 'A_030', 'A_008', 'A_052', 'A_032', 'A_075', 'A_048',
       'A_062', 'A_077', 'A_076', 'A_078', 'A_038', 'A_014', 'A_024',
       'A_029', 'A_022', 'A_036', 'A_079', 'A_042', 'A_031', 'A_080',
       'A_056', 'A_081', 'A_083', 'A_082', 'A_033', 'A_085', 'A_084',
       'A_086', 'A_087', 'A_088', 'A_089', 'A_049', 'A_044', 'A_037',
       'A_090', 'A_091', 'A_092', 'A_093', 'A_094', 'A_095', 'A_096',
       'A_097', 'A_043', 'A_018', 'A_098', 'A_099', 'A_006', 'A_026',
       'A_034', 'A_100', 'A_041', 'A_050', 'A_051', 'A_101', 'A_011',
       'A_012', 'A_045', 'A_102', 'A_103', 'A_104', 'A_058', 'A_105',
       'A_106', 'A_015', 'A_107', 'A_007', 'A_019', 'A_039', 'A_040',
       'A_046', 'A_047', 'A_053', 'A_054', 'A_055', 'A_057', 'A_059',
       'A_060', 'A_061', 'A_063', 'A_108', 'A_109', 'A_110', 'A_111',
       'A_112', 'A_113', 'A_114', 'A_115', 'A_117', 'A_116', 'A_118',
       'A_119', 'A_120', 'A_121', 'A_122', 'A_123', 'A_124', 'A_125',
       'A_126', 'A_127', 'A_128', 'A_129', 'A_130', 'A_131', 'A_132'],
      dtype=object)

133

In [20]:
import numpy as np
display(data1['equipment_ID'].unique())

array(['s_1', 's_2', 's_3', 's_4', 's_5'], dtype=object)